/*機能に関する部分*/
/*Flexbox*/
.container--auth {
    align-items: center;
    margin: 5rem 0.5rem;
}

/*装飾･見栄えに関する部分*/
/*フォーム部分*/
form {
    color: #fff;
    background-color: #474747;
    padding: 0.4rem;
    width: 28rem;
    max-width: 98%; /* 画面幅に収まるようにする */
    border-radius: 1rem;
}

form div {
    margin: 0.2rem 0;
}

ul.caption li{
    font-size: 0.85rem;
    margin-left: 3rem;
}

.error {
    color: #8B4513;
    margin: 0.5rem 2rem;
    font-size: 0.8rem;
}

.center {
    text-align: center;
}

/*入力欄部分*/
.form-row {
    display: flex;
    align-items: center;
    margin: 0.1rem 0;
}
.form-row label {
    width: 8rem;
    min-width: 8rem;
    margin-right: 1rem;
    text-align: right;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    min-width: 10rem;
    max-width: 16rem;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #fff;
    border-radius: 5px;
}


input[type="password"] {
	width: 9rem;
}

/*ボタン部分*/
div.button-parent button {
    width: 10rem;
}

/* reCAPTCHAのスタイル */
.recaptcha-container {
    display: flex;
    justify-content: center;
}

.g-recaptcha {
    transform: scale(0.9);
    transform-origin: 0 0;
}
