/* 機能に関する部分 */
/* ハンバーガーメニュー */
body{
  overflow-x: hidden;   /* 横スクロールの停止(横にはみ出た分は非表示) */
}

.header-area,
.header-right-area {
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    align-items: center;
}

.hamburger {
    width: 40px;
    height: 25px;
    position: relative;
}

.hamburger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: .5s;
}

/* ハンバーガーメニューの3本線の位置 */
.hamburger span:first-of-type {
    top: 0;
}

.hamburger span:nth-of-type(2) {
    top: 50%;
}

.hamburger span:last-of-type {
    top: 100%;
}

.slide-menu {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 3.5rem;
    width: 100%;
    left: 0;
    transform: translateX(100%);
    transition: .5s;
}

.slide-menu li {
    list-style: none;
    color: #fff;
    line-height: 400%;
    text-align: center;
}

header a{
    color: #fff;
    text-decoration: none;
}

/* ハンバーガーメニュー起動時のアニメーション */
.hamburger.active span:first-of-type{
  top: 50%;
  transform: rotate(45deg);
}
.hamburger.active span:nth-of-type(2){
  opacity: 0;/* 透明にする */
}
.hamburger.active span:last-of-type{
  top: 50%;
  transform: rotate(-45deg);
}
.slide-menu.active{
  transform: translateX(0); 
}
/* ハンバーガーメニューここまで */

/*装飾･見栄えに関する部分*/
html {
    background-color: #f5eede;
    font-family: 'Hiragino Kaku Gothic', '游ゴシック', sans-serif;
}

header,
footer {
    background-color: #876b36;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    z-index: 1000;  /*ヘッダーを最前面に表示*/
}

header {    /*上部に固定*/
    position: fixed;
    top: 0;
} 

footer {    /*下部に固定*/
    position: fixed;
    bottom: 0;
}

.pageTop-button-div {   /*右下に固定*/
    position: fixed;
    bottom: 4rem;
    right: 1rem;
}

h1 {
    padding: 0.5rem;
    font-size: 1.7rem;
    letter-spacing: 0.05rem; /*文字間を少し広げる*/
    text-align: center;
}

h3,
h4 {
    padding: 0.25rem 0;
}

/* フォント指定 */
header, footer, h1, h2, h3, h4, div.timer-div {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.copy-right {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

/*ボタン部分*/
button {
    display: inline;
    background-color: gray;
    border: none;
    border-radius: 0.5rem;
    padding: 0.3rem;
    cursor: pointer;
}

.pageTop-button {
    background-color: #bbbbbb;
    height: 2.5rem;
    width: 2.5rem;
}

.pageTop-button img {
    /* ボタンの画像を親要素の中心に配置 */
    display: block;
    margin: 0 auto;
}

footer button a {
    background-color: gray;
    color: #fff;
    text-decoration: none;
}
