/*Flexbox*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 3rem 2rem; /* <header>で隠れないようにmargin-topを設定 */
}

.container-item {
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

/*装飾･見栄えに関する部分*/
.container ul,
.container ol {
    margin-left: 1.5rem;
}

.supplement{
    list-style: none;   /*リストマーカーを消す(後で※を付けるため)*/
    text-indent: -1.5em;    /*リストの最初の文字を左にずらす(リストマーカーの分戻して、他のli要素と揃える)*/
    font-size: 0.9rem;
}

li.supplement::before {
    content: "※";
    margin-right: 0.5em; /*※の後に空白を入れるためのmargin*/
}

 .how-to-image {
    border: 3px solid #000000;
    border-radius: 1rem;
    max-width: 100%;
    height: auto;
    max-height: 60vh;
}


/*モバイル用のスタイル*/
@media (max-width: 600px) {
    .container {
        margin: 3.5rem 0rem;
    }

    .container-item {
        margin: 0.5rem;
        padding: 0.5rem;
    }
}