{% comment %}
共通モーダルコンポーネント
使用例:
{% include 'recipes/components/modal.html' with modal_id="example-modal" modal_title="タイトル" modal_content="<p>コンテンツ</p>" %}
{% endcomment %}

<div id="{{ modal_id }}" class="modal modal-hidden">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title">
                <h3>{{ modal_title }}</h3>
            </div>
            <span class="close" id="close-{{ modal_id }}">&times;</span>
        </div>
        <div class="modal-body">
            {{ modal_content|safe }}
        </div>
    </div>
</div>
