{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/describe.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="container-item">
            <h2>コーヒーレシピ変換器</h2>
            <p>コーヒーレシピ変換器は、既存のコーヒーレシピを異なる投入量や豆の量に変換するためのツールです。このツールを使用すると、既存レシピのバランスを維持しながらレシピを調整できます。</p>
        </div>
        <div class="container-item">
            <h2>特徴</h2>
            <h3>バランスキープ</h3>
            <p>既存レシピにおける各投の割合を維持したまま、レシピを変換します。</p>
            <h3>簡単な操作</h3>
            <p>入力フォームに必要な情報を入力し、変換ボタンをクリックするだけで変換されたレシピが表示されます。</p>
            <h3>ストップウォッチ機能</h3>
            <p>抽出時に使用するためのストップウォッチ機能が付いています。</p>
        </div>
        <div class="container-item">
            <h2>使い方</h2>
            <ol>
                <h3>
                    <li>プリセットレシピ呼び出し</li>
                </h3>
                <img class="how-to-image" src="{% static 'images/how-to-description/presetRecipe.png' %}" alt="プリセットレシピ呼び出し">
                <div>
                    <p>プリセットレシピを呼び出すことができます。</p>
                    <p>プリセットレシピは、変換前レシピ入力欄に自動的に入力されます。</p>
                    <p>3つの「デフォルトプリセットレシピ」はユーザー登録無しで使えますが、<a href="{% url 'users:signup_request' %}">ユーザー登録</a>して自分だけのプリセットレシピを登録すると、それらも呼び出すことができます！</p>
                    <p>現在利用できるデフォルトプリセットレシピは、<a href="{% url 'introduce-preset' %}">こちら</a>で紹介しています。</p>
                </div>
                <h3>
                    <li>変換前レシピ入力欄</li>
                </h3>
                <img class="how-to-image" src="{% static 'images/how-to-description/originRecipeForm.png' %}" alt="変換前レシピ入力欄">
                <div>
                    <p>変換する前のレシピの情報を入力します。</p>
                    <p>投数、豆の量、そして各投入段階の経過時間と注湯量を記入します。</p>
                    <ul>
                        <li class="supplement">投数を入力すると、その分だけレシピ入力欄が生成されます</li>
                    </ul>
                    <p>アイスコーヒーを入れたい場合は、アイスコーヒーのチェックボックスをONにし、氷量を入力します。</p>
                    <img class="how-to-image" class="how-to-image" src="{% static 'images/how-to-description/originRecipeForm-ice-mode.png' %}" alt="アイスコーヒー入力欄">
                </div>
                <h3>
                    <li>変換目標入力欄</li>
                </h3>
                <img class="how-to-image" src="{% static 'images/how-to-description/targetParameterForm-bean-water.png' %}" alt="変換目標入力欄">
                <div>
                    <p>変換後のレシピの情報を入力します。</p>
                    <p>目標とする豆の量、総湯量、そして豆と湯の比率を指定します。</p>
                    <p>倍率のみを入力してスムーズに変換を行うことも可能です</p>
                    <img  class="how-to-image" src="{% static 'images/how-to-description/targetParameterForm-convertRate.png' %}" alt="変換目標入力欄[倍率変換]">
                    <ul>
                        <li class="supplement">豆量&総湯量と倍率が両方とも入力されている場合には、倍率が優先されます。</li>
                    </ul>
                    <h4>入力補助</h4>
                        <p>豆量と総湯量の両方が入力されると自動的に比率が計算・入力されます。</p>
                        <p>また、豆量あるいは総湯量のいずれかが入力された状態で比率が入力されると、もう一方が更新されます。</p>
                    <h4>目標入力フォームのクリア機能</h4>
                    <p>入力された変換目標をクリアできます</p>
                    <p>入力補助機能がある都合上、豆量・総湯量・比率が全て入力されていると目標値の変更が難しくなる問題を確認したため実装しました。</p>
                </div>
                <h3>
                    <li>変換ボタン</li>
                </h3>
                <p>入力が完了したら、変換ボタンをクリックしてレシピを変換します。</p>
                <h3>
                    <li>変換後レシピの出力</li>
                </h3>
                <img class="how-to-image" src="{% static 'images/how-to-description/convertedRecipe.png' %}" alt="変換後レシピの出力">
                <p>変換されたレシピが表形式で表示されます。</p>
            </ol>
        </div>
        <div class="container-item">
            <h2>既知の問題</h2>
            <h4>湯の抜け</h4>
            <p>この変換器では、豆量変化による流速(湯の抜け)の変化が加味されていません。単純な比率変換であることを理解した上で、注湯タイミング等を適宜調整し、変換結果を参考にしてください。</p>
            <p>湯の抜けが考慮されていないため、投数が少ない(3投以下)とかなり無理のあるレシピになってしまうことがあります。投数の多いレシピでお試しください。</p>
            <p>なお、この問題について現在具体的な改善の目処は立っていません。</p>
        </div>
        <div class="container-item">
            <h2>実装を予定している機能</h2>
            <h4>高度な変換機能</h4>
            <p>変換倍率に応じて、注湯タイミングの時間を引き延ばしたり、雑味を軽減するために最終湯量の割合を減らすなど、より高度な変換ができる機能を実装予定です。</p>
        </div>
        <div class="container-item">
            <h2>お問い合わせ</h2>
            <p>バグ修正等は<a href="https://github.com/Hiru-ge/Co-fitting/issues">GitHubのissue</a>か、<a href="https://forms.gle/PwoV72WpYZjta4fa9">Google Forms</a>までご連絡ください。</p>
            <p>できればバグ報告はissueで、それが無理であればGoogle Formsからで全然大丈夫です!</p>
            <p>Google Formsでは、バグ報告以外の「追加して欲しい機能」や「改善点」等の意見･要望も受け付けています!</p>
        </div>
    </div>
{% endblock %}
