{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2>マイページ</h2>
        <h3>ユーザー情報</h3>
        <p>ユーザー名: {{ user.username }}</p>
        <p>メールアドレス: {{ user.email }}</p>
        <p>所有プリセット枠: <b>{{user.preset_limit}}</b><p>
        <p>サブスクリプション契約状況: <b>{{subscription_status}}</b></p>
        <div class="button-parent">
            <button class="long-button" onclick="location.href='./users/email_change'">メールアドレス変更</button>
        </div>
        <div class="button-parent">
            <button class="long-button" onclick="location.href='./users/password_change'">パスワード変更</button>
        </div>
        
        <h3>プリセット枠契約</h3>
        <p>月額100円でプリセット枠を3枠増やせます</p>
        <div class="button-parent">
            <button class="long-button" onclick="location.href='./purchase/purchase_describe'">サブスク契約・解約<br>契約状況確認</button>
        </div>
        <h3>マイプリセット</h3>
        <p><a href="{% url 'articles:mypreset-describe' %}">マイプリセット機能とは</a></p>
        <div>
            {% if recipes %}
                {% for recipe in recipes %}
                <div class="item">
                    {{ recipe.name }}

                    <div class="button-parent">
                        <button onclick="location.href='{% url 'preset_edit' recipe.id %}'">編集</button>
                        <button onclick="location.href='{% url 'preset_delete' recipe.id %}'">削除</button>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="button-parent">
            <button class="long-button"  onclick="location.href='./preset_create'">プリセット新規登録</button>
        </div>

        
        <div class="button-parent">
            <button class="long-button" onclick="location.href='./users/account_delete'">退会</button>
        </div>
    </div>
{% endblock %}
