{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2>あなたはすでにサブスクリプション済です</h2>
        <p>現在、プリセット枠増枠のサブスクリプションは1口のみ契約可能です。</p>
        <p>お客様はすでにサブスクリプション済ですので、追加の契約は申し訳ありませんができません。</p>
        <p>4枠以上を使用したい場合、<a href="https://docs.google.com/forms/d/e/1FAIpQLSfV0YJ6VBoIUsFkAkiktcJMfc2jZRZ9aRZmbi-_JdEmUK2uIA/viewform">Google Form</a>等でその旨をお知らせください。同様の要望が多い場合、4枠以上の契約をできるように開発者が頑張るかもしれません!</p>
    </div>
{% endblock %}
