{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2>プリセット枠の購入</h2>
        <p>月額100円でプリセット枠を3枠増やせます</p>
        <p>現在の所持プリセット枠： <b id="preset_limit">{{ preset_limit }}</b></p>
        <p>現在の契約状況： <b id="status">{{ status }}</b></p>
        
        <div class="button-parent">
            <button class="long-button"  onclick="location.href='./create_checkout_session'">新規サブスク契約</button>
        </div>
        <div class="button-parent">
            <button class="long-button" id="checkout-and-portal-button" onclick="location.href='./create_portal_session'">サブスク状況確認・解約</button>
        </div>
    </div>
{% endblock %}
