{% extends './base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>パスワード変更</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <p>元のパスワード:{{ form.old_password }}</p>
            <p>新パスワード:{{ form.new_password1 }}</p>
            <ul class='caption'>
                <li>ご登録情報に似たパスワードにはできません。</li>
                <li>8文字以上32文字以内で設定してください。</li>
                <li>よく使われるパスワードにはできません。</li>
                <li>数字だけのパスワードにはできません。</li>
            </ul>
            <p>新パスワード（確認用）:{{ form.new_password2 }}</p>
            
            <!-- エラーの表示 -->
            {% if form.errors %}
                <div class='error'>{{form.errors}}</div>
            {% endif %}
        </div>
        <div class="button-parent">
            <button type="submit">変更</button>
        </div>
    </form>
</div>
{% endblock %}