{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="container container--auth">
    <h2>ログアウトの確認</h2>
    <form action="{% url 'users:logout' %}" method="post">
        {% csrf_token %}
        <div>
            <p class="center">本当にログアウトしますか?</p>
        </div>
        <div class="button-parent">
            <button type="submit">ログアウト</button>
        </div>
    </form>
</div>
{% endblock %}