{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="container container--auth">
    <h2>パスワードリセット</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            <label>メールアドレス</label>
            <div class="input-col">{{ form.email }}</div>
            
            <!-- エラーの表示 -->
            {% if form.errors %}
                <div class='error'>{{form.errors}}</div>
            {% endif %}
        </div>
        <div class="button-parent">
            <button type="submit">リセット</button>
        </div>
    </form>
</div>
{% endblock %}