{% extends './base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/describe.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="container-item">
            <h2>基本原理：成分が溶け出す順番</h2>
            <p>まず、コーヒーの粉から溶け出す成分には、「溶け出す順番」というものがあります。</p>

            <p>抽出の際には湯を注ぐので、親水性のものから疎水性のものという順番で溶け出してくるというわけです。</p>

            <p>しかし溶け出す成分の種類はとても多く、それら一つ一つを特定してコントロールするということはほぼ不可能に近いです。</p>

            <p>ですが、この溶け出す順番には経験則的にいわれているある程度の大まかな流れがあります。それは、 <b>「香り→酸味→甘み→苦味→雑味」</b>の順に溶け出すという流れです。</p>
            <p>下図のように、溶け出しやすさのピークがこの順番に来るというイメージですね。</p>
            <p>そこで、図をもとに「抽出をどの程度進めるか」によって、大まかなコーヒーの味を調整することができるのです。</p>
            <p>これは本変換器を利用しない場合にも有効な基本原理なので、ぜひ自分でコーヒーを淹れる際にも意識してみてください。</p>

            <img src="{% static 'images/how-to-description/extraction-graph.png' %}" width="100%">
            <ul>
                <li class="supplement">上図は<a href="https://youtu.be/lg7bafltXsk?si=rhBRmGLMRcgXcitu&t=848" target="_blank">Kenken Coffeeさんの動画</a>に登場したものを参考に作成</li>
            </ul>
        </div>
        <div class="container-item">
            <h2>本ツールにおける基本原理の応用</h2>
            <p>本変換器が行っていることは、単純な比率変換です。<br>本節では、その単純な比率変換が味のキープに結びつく理由について説明します。</p>

            <p>さて、本ツールを理解する上で重要なのは、<br><b>「どの味をどれだけ抽出するか」</b><br>という点です。</p>

            <p>先ほど述べた通り、コーヒーの味は「香り→酸味→甘み→苦味→雑味」という順番で溶け出してくるとされています。</p>

            <p>この順番を踏まえると、例えば「甘み」が出やすい時点で大量に湯を注げば、甘味成分の多いコーヒーが全体量中の多くを占め、その後段階で出てくるはずの苦味は少なく、酸味や甘みの多いコーヒーになります。</p>

            <p>一方、「苦味」の時点で大量に湯を注げば、甘みの割合が比較的少なくなって甘みを感じにくくなります。</p>

            <p>つまり本ツールでは、元レシピにおける各タイミングでの注湯配分を維持することで、「どの味が出やすい(割合が大きい)タイミングで」「全体量のどれだけを占める分注ぐのか」を維持し、コーヒーの味のバランスを保っているというわけです。</p>

            <p>余談ですが、これは前節でも述べたように、本来「抽出をどの程度進めるかによって、大まかな味を決定できる」という話であり、このツールではその理論を本来とは異なる形で利用しています。その点に注意して、このページの説明を理解していただければと思います。</p>
        </div>

    </div>
{% endblock %}