{% extends './base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block content %}
    <div class="container">   
        <h2>マイページ</h2>
        <!-- TODO:一旦ここに表示しているメッセージはJavaScriptのWindow.alert()で表示する -->
        {% if messages %}
            {%for message in messages%}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
        <h3>ユーザー情報</h3>
        <p>ユーザー名: {{ user.username }}</p>
        <p>メールアドレス: {{ user.email }}</p>
        <div class="button-parent">
            <button class="long-button" onclick="location.href='./users/change-email'">メールアドレス変更</button>
        </div>
        <div class="button-parent">
            <button class="long-button" onclick="location.href='./users/password_change'">パスワード変更</button>
        </div>
        <h3>マイプリセット</h3>
        <div>
            {% if recipes %}
                {% for recipe in recipes %}
                <div class="item">
                    {{ recipe.name }}

                    <div class="button-parent">
                        <button>編集</button>
                        <button>削除</button>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="button-parent">
            <button class="long-button">プリセット新規登録</button>
        </div>
    </div>
{% endblock %}
