{% extends './base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>メールアドレス変更</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="email">新メールアドレス</label>
            {{ form.email }}
            {% if form.email.errors %}
                <div class="error">{{ form.email.errors }}</div>
            {% endif %}
        </div>
        <div class="button-parent">
            <button type="submit">変更</button>
        </div>
    </form>
</div>
{% endblock %}