{% extends './base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/describe.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="introduce container-item">
            <h2 class="sub-title">プリセットレシピの紹介</h2>
            <p>本サイトで使用しているプリセットレシピのご紹介です。</p>
            <p>公式サイト等を参照して元となるレシピを理解した上で、本ツールのプリセットをご利用ください。</p>
        </div>

        <div class="container-item">
            <h2>4:6メソッド(標準)</h2>
            <p>4:6メソッドは、総湯量を4:6に分割して考え、<b>最初の4割をどんな比率で注ぐか</b>でコーヒーの<b>味</b>を、<b>残りの6割を何回で注ぐか</b>でコーヒーの<b>濃度</b>をコントロールするという方針のレシピです。</p>
            <p>理屈が分かりやすく誰でも理解しやすいことから、汎用性･再現性の高い抽出方法である点が強みです。</p>

            <p>公式で<a href="https://arikuicafe.com/46method-modelgenerator/">4:6メソッド抽出モデル作成器</a>が用意されており、味は「酸味。標準、甘味」、濃度は「薄め、標準、濃いめ」の3段階から選択できます。(当サイトでは全て標準のものをプリセットレシピとして登録してあります)</p>
            <p>こちらのモデル作成器は非常に便利なので、4:6メソッドで細かく設定を変えたい方は、ぜひ公式のモデル作成器をご利用ください。</p>
            <p>4:6メソッドに関する詳細は<a href="https://arikuicafe.com/46method/">公式サイト</a>や下記の参考動画をご覧ください。</p>

            <h3>参考動画</h3>
            <iframe title="A Coffee Brewing Theory &quot;4:6 method&quot; Invented by Tetsu Kasuya_ World Brewers Cup 2016 Champion" src="https://www.youtube.com/embed/wmCW8xSWGZY?playsinline=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="container-item">
            <h2>4:6メソッド(アイス)</h2>
            <p>4:6メソッドのアイスコーヒー版です。</p>
            <p>湯温は90℃以上、一投目(蒸らし)時に軽くスピンをいれると良いでしょう。</p>
            <p>詳細は下記の参考動画をご覧ください。</p>

            <h3>参考動画</h3>
            <iframe src="https://www.youtube.com/embed/TfSBzFeoL4s?si=4OALH8Ce97GY3C49" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="container-item">
            <h2>畠山大輝氏レシピ</h2>
            <p>ジャパンブリュワーズカップ（JBrC）とジャパンハンドドリップチャンピオンシップ（JHDC）で史上初の2冠を成し遂げた、畠山大輝さんの抽出レシピです。</p>
            <p>クリーンながら甘味がしっかりと出てくれる印象で、私も浅煎りの豆を試す際に重宝しています。</p>
            <p>レシピの詳細は、畠山さん直々に解説をしていただいている下記の参考動画をご覧ください。</p>

            <h3>参考動画</h3>
            <iframe src="https://www.youtube.com/embed/KHwliRyBWKU?si=AIlIscZ6p69nORWO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="container-item">
            <h2>注意事項</h2>
            <p>本サイトのプリセット、およびそこから作成された抽出レシピは、作者の理解不足や変換処理の単純さ等により、本来のレシピの考え方に完全にはマッチしていません。</p>
            <p>ここでは解説しきれなかった部分が多くあるので、公式サイト等を参考にして元となるレシピを理解した上で、あくまで目安としてご利用ください。</p>
        </div>
    </div>
{% endblock %}