{% extends './base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>ログイン</h2>
    <form action="{% url 'loginAuthorize' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="username_field">ユーザー名</label>
            <input type="text" name="username" id="username_field" required>
        </div>
        <div>         
            <label for="password_field">パスワード</label>
            <input type="password" name="password" id="password_field" required>
        </div>
        <div class="button-parent">
            <button type="submit">ログイン</button>
        </div>
    </form>
</div>
{% endblock %}